<div style="display:flex;">
    <div class="footer-column">
        <a class="footer-link" href="/pro-union-organizing">Pro-Union Organizing</a>
        <br>
        <a class="footer-link" href="/letter-writing-campaigns">Letter Campaigns</a>
        <br>
        <a class="footer-link" href="/events">Events</a>
    </div>
    <div class="footer-column">
        <a class="footer-link" href="/get-involved">Get Involved</a>
        <br>
        <a class="footer-link" href="/shop">Shop</a>
        <br>
        <a class="footer-link" href="/meetings">Meetings</a>
    </div>
    <div class="footer-column">
        <a class="footer-link" href="/harassment-and-grievance">Harassment and Grievance</a>
        <br>
        <a class="footer-link" href="/posts">Posts</a>
        <br>
        <a class="footer-link" href="/join">Join</a>
    </div>
</div>
<style>
    .footer-link {
        color: gray;
        font-size: 15px;
    }

    .footer-column {
        display: block;
        flex: 33%;
        text-align: center;
    }
</style>
