<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<div id="calendar"></div>

<script>
    /*
    {{- $events := where .Site.RegularPages "Section" "events" -}}
    {{- $clean := slice -}}
    {{- range $events }}
        {{- $clean = $clean | append (dict
            "title" .Title
            "date" (.Date.Format "2006-01-02")
            "url" .RelPermalink
        ) -}}
    {{- end }}
    */

    const eventsJson = JSON.parse('{{ $clean | jsonify }}');

    document.addEventListener('DOMContentLoaded', async function () {
        const data = eventsJson;

        const calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
            initialView: 'dayGridMonth',
            events: data.map(e => ({
                title: e.title,
                start: e.date,
                url: e.url
            }))
        });

        calendar.render();
    });

    const now = new Date();
    const currentMonth = now.getMonth();
    const currentYear = now.getFullYear();

    const filtered = data.filter(e => {
        const d = new Date(e.date);
        return d.getMonth() === currentMonth && d.getFullYear() === currentYear;
    });
</script>

<style>
    a[class~="fc-col-header-cell-cushion"] {
        color: #808080;
    }

    div[class="fc-daygrid-day-top"]>a {
        color: #808080
    }

    a[class~="fc-event"]>div>div>div>div {
        color: white !important;
    }

    a[class~="fc-event"] {
        background-color: #ea2128;
        border: #ea2128;
    }

    td>div>div[class~="fc-scroller"] {
        overflow: hidden !important;
    }
</style>