<table>
    <tbody>
        <tr>
            <td class="pinned-cell" style="width: 20%;">
                <img src="/images/dsa-coffee.png" alt="dsa logo on a coffee cup" />
            </td>
            <td class="pinned-cell">
            <h2 class="pinned-details">Weekly Coffee Meet</h2>
            <p class="pinned-details">Astute Coffee, Downtown. 9:00 - 11:00 AM. No RSVP required, drop-in.</p>
            <p class="pinned-text">Pinned Event</p>    
        </td>
        </tr>
    </tbody>
</table>
<br>

<style>
    .pinned-cell {
        background-color: #ea2128 !important;
        border: 0px;
    }

    .pinned-text {
        color: white !important;
        font-style: italic;
        font-size: .75rem;
    }

    .pinned-details {
        color: white !important;
    }
</style>
